﻿@{
    var subscribers = (List<Admin.Models.MSubscription>)ViewBag.subscribers;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            @subscribers.Count
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Mobile</th>
                        <th>DateStart</th>
                        <th>DateEnd</th>
                        <th>AmountPaid</th>
                        <th>Paper</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in subscribers)
                    {
                        <tr class="@(item.DateEnd<DateTime.Now?"table-danger":"")">
                            <td title="@item.WhatsAppMobileNumber">@item.WhatsAppMobileNumber</td>
                            <td title="@item.DateStart.ToString("yyyy-MM-d")">@item.DateStart.ToString("yyyy-MM-d")</td>
                            <td title="@item.DateEnd.ToString("yyyy-MM-d")">@item.DateEnd.ToString("yyyy-MM-d")</td>
                            <td title="@item.AmountPaid.ToString("0.00")">@item.AmountPaid.ToString("0.00")</td>
                            <td title="@item.EPaperTypeNavigation.PaperType">@item.EPaperTypeNavigation.PaperType</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });
</script>
