﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the papers via ajax
}



<div class="container">
    <div class="row">
        <div class="col-md-12" id="data">
            <center id="loader">
                <img src="~/assets/img/_loading.gif" />
            </center>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "../Subscribers/ajaxSubscribers",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
        $("#loader").hide();
    });



</script>