﻿@{
    var BreakingNews = (List<Admin.Models.MBreakingNews>)ViewBag.BreakingNews;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>DatePoted</th>
                        @*<th>Published</th>*@
                        <th>BreakingNews</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in BreakingNews)
                    {
                        <tr>
                            <td title="@item.DatePosted.ToString("d MMM yyyy")">@item.DatePosted.ToString("d MMM yyyy")</td>
                            @*<td title="@item.Published.ToString()">@item.Published.ToString()</td>*@
                            <td title="@item.Headline">@item.Headline</td>

                            @if (!string.IsNullOrEmpty(item.ImageUrl))
                            {
                                <td>
                                    <a href="~/uploads/@item.ImageUrl"><img src="~/uploads/@item.ImageUrl" class="article_image_small" /></a>
                                </td>
                            }
                            else
                            {
                                <td><img src="~/assets/img/place_holder_image.png" class="article_image_small" /></td>
                            }
                            <td>
                                @if (!item.Published)
                                {
                                    <a href="#" onclick="confirm_publish('@item.Id'); return false;" style="color:green;">
                                        Push
                                    </a>
                                }
                                |
                                <a href="~/BreakingNews/ViewBreakingNews/@item.Id" style="color:blue;">
                                    Open
                                </a>
                                |
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/BreakingNews/DeleteBreakingNews" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<form action="~/BreakingNews/PublishBreakingNews" method="post" id="f2">
    <input type="hidden" name="breaking_news_id" id="publish_id" />
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_publish(id) {
        $.confirm({
            title: 'Publish Breaking News?',
            type: "red",
            content: 'You only have one chance at this!',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#publish_id").val(id);
                    $("#f2").submit();
                },
                No: function () {
                },

            }
        });

    }

    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Breaking News?',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>