﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the papers via ajax
    var paperType = (Admin.Models.EPaperType) ViewBag.paper_type;
}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>
                @paperType.PaperType <span style="color:red;"> Archived Breaking News</span>
            </h2>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12" id="data">
            <center id="loader">
                <img src="~/assets/img/_loading.gif"/>
            </center>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content($"~/BreakingNews/ajaxArchivedBreakingNews/{paperType.Id}"))",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });
</script>