﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var paper_type = (Admin.Models.EPaperType) ViewBag.paper_type;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="post" action="~/BreakingNews/CreateBreakingNews" style="max-width:80%;margin:auto;" name="create_breaking_news_form"
                  onsubmit="return stringlength(document.create_breaking_news_form.Headline, document.create_breaking_news_form.Summary)">
                <div class="form-group">
                    <input type="hidden" name="PaperType" value="@paper_type.Id"/>
                    <input type="text" class="form-control" required name="Headline" onkeyup="headlineCharCount(this.value)"/>
                    <small><span style="color:red;">*</span> BreakingNews</small>
                    <small>
                        <span id="headline_char_count"></span>
                    </small>
                </div>

                <div class="form-group">
                    <textarea class="form-control" required name="Summary" onkeyup="summaryCharCount(this.value)"></textarea>
                    <small><span style="color:red;">*</span> Summary</small>
                    <small>
                        <span id="summary_char_count"></span>
                    </small>
                </div>

                @* <div class="form-group">
                    <select class="form-control" name="Published">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <small><span style="color:red;">*</span> Published</small>
                </div>*@

                <div class="form-group">
                    <input type="file" class="form-control" name="image" id="image" accept="image/*"/>
                    <small>Image</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-red">CREATE BreakingNews</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

function stringlength(headline, summary)
{ 
    var field1 = headline.value;
    var field2 = summary.value;
    var imageToUpload = document.getElementById("image");

    if(field1.length > 50)
    { 
        alert("Headline should be less than 50 characters");
        return false;
    }
    else if(field2.length > 3200)
    { 
        alert("News should be less than 3200 characters");
        return false;
    }
    else
    { 
        return true;
    }
}

function headlineCharCount(str) 
{
	var lng = str.length;
	document.getElementById("headline_char_count").innerHTML = lng + '/50 characters';
}

function summaryCharCount(str) 
{
	var lng = str.length;
	document.getElementById("summary_char_count").innerHTML = lng + '/3200 characters';
}
</script>