﻿@{
    var users = (List<Admin.Models.MSession>)ViewBag.users;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Date Last Accessed</th>
                        <th>Mobile</th>
                        <th>Last Menu</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in users)
                    {
                        <tr>
                            <td title="@item.Date.ToString("d MMM yyyy")">@item.Date.ToString("d MMM yyyy")</td>
                            <td title="@item.WhatsAppMobileNumber">@item.WhatsAppMobileNumber</td>
                            <td title="@item.LastMenu">@item.LastMenu</td>
                            <td>
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_unblock('@item.WhatsAppMobileNumber')">
                                    UnBlock
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/Users/UnblockUser" method="post" id="f1">
    <input type="hidden" name="mobile" id="unblock_id" />
</form>


<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_unblock(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'UnBlock this User?',
            buttons: {
                Yes: function () {
                    $("#unblock_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>