﻿@using System.Globalization
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var totalCumulativeSubscriptions = ViewBag.totalCumulativeSubscriptions;
    var totalMonthlySubscriptions = ViewBag.totalMonthlySubscriptions;
    var totalDailySubscriptions = ViewBag.totalDailySubscriptions;
    var totalDailyReaders = ViewBag.totalDailyReaders;
    var totalCumulativeActivations = ViewBag.totalCumulativeActivations;
    var totalMonthlyActivations = ViewBag.totalMonthlyActivations;
    var totalDailyActivations = ViewBag.totalDailyActivations;
    var hardLogoChurnToday = ViewBag.hardLogoChurnToday;
    var totalLogoChurn = ViewBag.totalLogoChurn;
    var totalInactiveLogos = ViewBag.totalInactiveLogos;
}
@*highcharts*@
<link href="~/libs/highcharts/highcharts.css" rel="stylesheet"/>
<script src="~/libs/highcharts/highcharts.js"></script>
<script src="~/libs/highcharts/highcharts-more.js"></script>

<div class="container">
    <div class="row">
        @*<div class="col-md-12">
            <div class="card text-white mb-3">
                <div class="card-header" style="color:black;">Subscriptions Ratios</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form style="width:100%" action="~/Home/Dashboard">
                                <select class="btn btn-sm" name="sub">
                                    <option value="active" selected="@(ViewBag.sub == "active")">Active subs.</option>
                                    <option value="all" selected="@(ViewBag.sub == "all")">All subs.</option>
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm">Change</button>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Subscriber Stats Summary</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Total Cumulative Subscriptions</td>
                                <td>@totalCumulativeSubscriptions</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Total Subscriptions (Month)</td>
                                <td>@totalMonthlySubscriptions</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Total Subscriptions (Today)</td>
                                <td>@totalDailySubscriptions</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Total Cumulative Activations</td>
                                <td>@totalCumulativeActivations</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">This Month Activations (New)</td>
                                <td>@totalMonthlyActivations</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Activations Today (New)</td>
                                <td>@totalDailyActivations</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Total Readers (Today)</td>
                                <td>@totalDailyReaders</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Inactive Subscribers</td>
                                <td>@totalInactiveLogos</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Total Logo Churn</td>
                                <td>-@totalLogoChurn</td>
                            </tr>
                            <tr>
                                <td style="overflow: auto; text-overflow: unset !important;">Hard Logo Churn Today (Unsubcribed)</td>
                                <td>(@hardLogoChurnToday)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-12">
            <div class="card text-white mb-3">
                <div class="card-header" style="color:black;">
                    <h4>Subscriptions</h4>
                </div>
                <div class="card-body">
                    @*<div class="col-md-3">
                        <form style="width:100%" action="~/Home/Dashboard">
                            <select class="btn btn-sm" name="sub">
                                @{
                                    foreach (var monthName in DateTimeFormatInfo.CurrentInfo.MonthNames)
                                    {
                                        <option value="@monthName" selected="@(ViewBag.sub == monthName)">@monthName</option>
                                    }
                                }
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm">Change</button>
                        </form>
                    </div>*@
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    // Radialize the colors
    Highcharts.setOptions({
        colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        })
    });

    // Build the chart
    Highcharts.chart('chart1', {
        credits: {
                enabled: false
            },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            
        },
        title: {
            text: 'Subscriptions'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Subscription',
            data: [
                @Html.Raw(ViewBag.chart1)
            ]
        }]
    });
</script>


<script type="text/javascript">
    Highcharts.chart('chart2', {
        credits: {
                enabled: false
            },
        chart: {
            type: 'column',
            
        },
        title: {
            text: 'Total Subscriptions per Day'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Subscriptions'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'subs: <b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Subscribers',
            data: [
                @Html.Raw(ViewBag.chart2)
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>