﻿@{
    var papers = (List<Admin.Models.MPapers>)ViewBag.papers;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>DateCreated</th>
                        <th>Type</th>
                        <th>Articles</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in papers)
                    {
                        <tr>
                            <td title="@item.DateCreated.ToString("d MMM yyyy")">@item.DateCreated.ToString("d MMM yyyy")</td>
                            <td title="@item.EPaperTypeNavigation.PaperType">@item.EPaperTypeNavigation.PaperType</td>
                            <td title="@item.MArticle.Count">@item.MArticle.Count</td>
                            <td>
                                @if (!item.Pushed)
                                {
                                    <a href="#" onclick="confirm_push('@item.Id'); return false;" style="color:green;">
                                        Push
                                    </a>
                                }
                                else
                                {
                                    <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                }
                                |
                                <a href="~/Papers/ViewPaper/@item.Id" style="color:blue;">
                                    Open
                                </a>
                                |
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/Papers/DeletePaper" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<form action="~/Papers/PushPaper" method="post" id="f2">
    <input type="hidden" name="id" id="push_id" />
</form>


<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Paper?',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

    function confirm_push(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Push this Paper to the subscribers?',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#push_id").val(id);
                    $("#f2").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>