﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the papers via ajax
    var paper_type = (Admin.Models.EPaperType)ViewBag.paper_type;
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
           <h2>@paper_type.PaperType Papers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="~/Papers/CreatePaper/" style="color:blue;">
                &nbsp;&nbsp; Create Paper
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" id="data">
            <center id="loader">
                <img src="~/assets/img/_loading.gif" />
            </center>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content($"~/Papers/ajaxAllPapers/{paper_type.Id}"))",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });

    
   
</script>