﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //create a new paper
    var paper_types = (List<Admin.Models.EPaperType>)ViewBag.paper_types;
    var paper_statuses = (List<Admin.Models.EPaperStatus>)ViewBag.paper_statuses;
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
                <form method="post" action="~/Papers/CreatePaper" style="max-width:80%;margin:auto;">
                    <div class="form-group">
                        <select class="form-control" name="EPaperType">
                            @foreach (var type in paper_types)
                            {
                                <option value="@type.Id">@type.PaperType</option>
                            }
                        </select>
                        <small><span style="color:red;">*</span> Paper Type</small>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="EPaperStatus">
                            @foreach (var type in paper_statuses)
                            {
                                @if (type.Id == 2)//only show pending
                                {
                                    <option value="@type.Id">@type.Status</option>
                                }
                            }
                        </select>
                        <small><span style="color:red;">*</span> Paper Status</small>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-red">CREATE PAPER</button>
                    </div>
                </form>
        </div>
    </div>
</div>

