﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var paper_types = (List<Admin.Models.EPaperType>)ViewBag.paper_types;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">

    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/Papers/CreatePaperType">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input class="form-control" type="text" name="PaperType" required placeholder="..." />
                            <small><span style="color:red;">*</span> Paper Type</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input class="form-control" type="number" step="any" name="PurchasePrice" required placeholder="0.00" />
                            <small><span style="color:red;">*</span> Purchase Price</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input class="form-control" type="number" step="any" name="SubscriptionDailyPrice" required placeholder="0.00" />
                            <small><span style="color:red;">*</span> Subscription (Daily Price)</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input class="form-control" type="number" step="any" name="SubscriptionWeeklyPrice" required placeholder="0.00" />
                            <small><span style="color:red;">*</span> Sub. (Weekly Price)</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input class="form-control" type="number" step="any" name="SubscriptionMonthlyPrice" required placeholder="0.00" />
                            <small><span style="color:red;">*</span> Sub. (Monthly Price)</small>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input class="form-control" type="text" readonly />
                            <button type="submit" class="btn btn-red btn-sm btn-block">CREATE PAPER type</button>
                        </div>
                    </div>

                </div>


            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Purchase Price</th>
                        <th>Sub. (Daily Price)</th>
                        <th>Sub. (Weekly Price)</th>
                        <th>Sub. (Monthly Price)</th>
                        <th>Action</th>
                        <th style="visibility:hidden;">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in paper_types)
                    {
                    <tr>

                        <form method="post" action="~/Papers/UpdatePaperType">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <td title="@item.PaperType"><input class="tblinput" type="text" name="PaperType" value="@item.PaperType" required /></td>
                            <td title="@item.PurchasePrice.ToString("0.00")"><input class="tblinput" type="text" name="PurchasePrice" value="@item.PurchasePrice.ToString("0.00")" required /></td>
                            <td title="@item.SubscriptionDailyPrice.ToString("0.00")"><input class="tblinput" type="text" name="SubscriptionDailyPrice" value="@item.SubscriptionDailyPrice.ToString("0.00")" required /></td>
                            <td title="@item.SubscriptionWeeklyPrice.ToString("0.00")"><input class="tblinput" type="text" name="SubscriptionWeeklyPrice" value="@item.SubscriptionWeeklyPrice.ToString("0.00")" required /></td>
                            <td title="@item.SubscriptionMonthlyPrice.ToString("0.00")"><input class="tblinput" type="text" name="SubscriptionMonthlyPrice" value="@item.SubscriptionMonthlyPrice.ToString("0.00")" required /></td>
                            <td>
                                <button type="submit" class="btn btn-link btn-sm">SAVE</button> |
                                <button style="color:red;" type="button" class="btn btn-link btn-sm" onclick="confirm_delete('@item.Id')">DELETE</button>
                            </td>
                        </form>
                        <td style="visibility:hidden;">@item.PaperType</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .tblinput {
        //border-bottom: none;
        //outline: none;
        border: none !important;
        background: none !important;
        border-style:hidden;
    }
</style>
<form action="~/Papers/DeletePaperType" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Paper Type?',
            buttons: {
                Yes: function () {
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>