﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var paper = (Admin.Models.MPapers)ViewBag.paper;
    var paper_types = (List<Admin.Models.EPaperType>)ViewBag.paper_types;
    var paper_statuses = (List<Admin.Models.EPaperStatus>)ViewBag.paper_statuses;
    var article_types = (List<Admin.Models.EArticleType>)ViewBag.article_types;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">

    <div class="row">
        <div class="col-md-12">

            <form method="post" action="~/Papers/EditPaper">
                <input type="hidden" value="@paper.Id" name="Id" />
                <div class="form-group">
                    <select class="form-control" name="EPaperType">
                        @foreach (var type in paper_types)
                        {
                            <option value="@type.Id" selected="@(type.Id==paper.EPaperType)">@type.PaperType</option>
                        }
                    </select>
                    <small><span style="color:red;">*</span> Paper Type</small>
                </div>


               @* <div class="form-group">
                    <select class="form-control" name="EPaperStatus">
                        @foreach (var type in paper_statuses)
                        {
                            <option value="@type.Id" selected="@(type.Id==paper.EPaperStatus)">@type.Status</option>
                        }
                    </select>
                    <small><span style="color:red;">*</span> Paper Status</small>
                </div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-red">Update PAPER</button>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <h1>Articles</h1>
    <a href="~/Articles/CreateArticle/@paper.Id" style="color:blue;">
        Create article
    </a>
    <hr />

    @foreach (var item in article_types)
    {
        <div class="row">
            <div class="col-md-12">
                <h6 style="color:red;">@item.Type</h6>
                <div id="div_@item.Id">
                    <center id="spinner_@item.Id">
                        <img src="~/assets/img/_loading.gif" width="100" height="100" />
                    </center>
                </div>
            </div>
        </div>

        <script>
            $.ajax({
                method: "get",
                url: "../../Articles/ajaxFetchArticles",
                success: function (data) {
                    $("#div_@item.Id").html(data);
                },
                error: function () {
                    $("#div_@item.Id)").html("Error fetching articles");
                     $("#spinner_@item.Id").hide();
                },
                data: {
                    "article_type_id": "@item.Id",
                    "paper_id":"@paper.Id"
                }
            }).then(function () {
                $("#spinner_@item.Id)").hide();
            });
        </script>
    }



</div>


