﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the papers via ajax
    var paper_type = (Admin.Models.EPaperType) ViewBag.paper_type;
    var alreadyPublished = (bool)ViewBag.alreadyPublished;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                @paper_type.PaperType <span style="color:blue">Headlines</span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="~/Headlines/CreateHeadline/@paper_type.Id" style="color:blue;">
                &nbsp;&nbsp; Create Headline
            </a>
        </div>
        <div class="col-md-4">
            <a href="~/Headlines/ArchiveHeadlines/@paper_type.Id" style="color:blue;">
                &nbsp;&nbsp; View Archives
            </a>
        </div>
        <div class="col-md-4">
        @if (!alreadyPublished)
        {
            <a href="#" onclick="confirm_publish('@paper_type.Id'); return false;" style="color:green;">
                Pushlish Headlines
            </a>
        }
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12" id="data">
            <div id="loader" style="text-align: center;">
                <img src="~/assets/img/_loading.gif" alt="..."/>
            </div>
        </div>
    </div>
</div>

<form action="~/Headlines/PublishHeadlines" method="post" id="h1">
    <input type="hidden" name="newsId" id="publish_id" />
</form>

<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content($"~/Headlines/ajaxAllHeadlines/{paper_type.Id}"))",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });
    
    function confirm_publish(id) {
            $.confirm({
                title: 'Publish Headlines?',
                type: "green",
                content: 'You will not be able to publish news again within the hour',
                buttons: {
                    Yes: function () {
                        $("#publish_id").val(id);
                        $("#h1").submit();
                    },
                    No: function () {
                    },
                }
            });
        }
</script>