﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the papers via ajax
    var paperType = (Admin.Models.EPaperType)ViewBag.paper_type;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@paperType.PaperType <span style="color:blue"> Archived Headlines</span></h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" id="data">
            <div id="loader" style="text-align: center;">
                <img src="~/assets/img/_loading.gif"  alt="..."/>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content($"~/Headlines/ajaxArchivedHeadlines/{paperType.Id}"))",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });
</script>