﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var paper_type = (Admin.Models.EPaperType) ViewBag.paper_type;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="post" action="~/Headlines/CreateHeadline" style="max-width:80%;margin:auto;" name="create_headline_form"
                  onsubmit="return stringlength(document.create_headline_form.Headline, document.create_headline_form.Summary)">
                <div class="form-group">
                    <input type="hidden" name="PaperType" value="@paper_type.Id"/>
                    <input type="text" class="form-control" required name="Headline" onkeyup="headlineCharCount(this.value)"/>
                    <small><span style="color:red;">*</span> Headline</small>
                    <small>
                        <span id="headline_char_count"></span>
                    </small>
                </div>

                <div class="form-group">
                    <textarea class="form-control" required name="Summary" onkeyup="summaryCharCount(this.value)"></textarea>
                    <small><span style="color:red;">*</span> Summary</small>
                    <small>
                        <span id="summary_char_count"></span>
                    </small>
                </div>

                @* <div class="form-group">
                    <select class="form-control" name="Published">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <small><span style="color:red;">*</span> Published</small>
                </div>*@

                <div class="form-group">
                    <input type="file" class="form-control" name="image" id="image" accept="image/*"/>
                    <small>Image</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-red">
                        CREATE Headline
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

function stringlength(headline, summary)
{ 
    var field1 = headline.value;
    var field2 = summary.value;
    // var imageToUpload = document.getElementById("image");

    if(field1.length > 50)
    { 
        alert("Headline should be less than 50 characters");
        return false;
    }
    else if(field2.length > 3200)
    { 
        alert("News should be less than 3200 characters");
        return false;
    }
    else
    { 
        return true;
        // if(imageToUpload === true)
        // {
        //     if(typeof (imageToUpload.files) != "undefined")
        //     {
        //         var imageSize = parseFloat(imageToUpload.files[0].size / 1024).toFixed(2);
        //         if(imageSize > 1024){
        //             alert("Image size should be less than 1MB. Currently its "+ imageSize/1024 + "MB");
        //             return false;
        //         }
        //         else{
        //             return true; //passed the size test
        //         }
        //     }
        //     else
        //     {
        //         alert("This browser does not support HTML5.");
        //         return false;
        //     }
        // }
    }
}

function headlineCharCount(str) 
{
	var lng = str.length;
	document.getElementById("headline_char_count").innerHTML = lng + '/50 characters';
}

function summaryCharCount(str) 
{
	var lng = str.length;
	document.getElementById("summary_char_count").innerHTML = lng + '/3200 characters';
}
</script>