﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var headline = (Admin.Models.MHeadlines) ViewBag.headline;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="post" action="~/Headlines/EditHeadline" style="max-width:80%;margin:auto;" name="edit_headline_form"
                  onsubmit="return stringlength(document.edit_headline_form.Headline, document.edit_headline_form.Summary)">
                <div class="form-group">
                    <input type="hidden" value="@headline.Id" name="Id"/>
                    <input type="hidden" value="@headline.PaperType" name="PaperType"/>
                    <input type="text" class="form-control" required name="Headline" value="@headline.Headline" onkeyup="headlineCharCount(this.value)"/>
                    <small><span style="color:red;">*</span> Headline</small>
                    <small>
                        <span id="headline_char_count"></span>
                    </small>
                </div>

                <div class="form-group">
                    <textarea class="form-control" required name="Summary" onkeyup="summaryCharCount(this.value)">@headline.Summary</textarea>
                    <small><span style="color:red;">*</span> Summary</small>
                    <small>
                        <span id="summary_char_count"></span>
                    </small>
                </div>

                @*<div class="form-group">
                    <select class="form-control" name="Published">
                        <option value="true" selected="@(headline.Published)">True</option>
                        <option value="false" selected="@(!headline.Published)">False</option>
                    </select>
                    <small><span style="color:red;">*</span> Published</small>
                </div>*@

                <div class="form-group">
                    <input type="file" class="form-control" name="image" accept="image/*"/>
                    <small>Upload Image</small>
                </div>

                @if (!string.IsNullOrEmpty(headline.ImageUrl))
                {
                    <div class="form-group">
                        <img src="~/uploads/@headline.ImageUrl" class="article_image_big"/><br/>
                        <small>
                            <a href="#" onclick="confirm_remove_image('@headline.Id');return false;" style="color:red;">Remove image</a>
                        </small>
                    </div>
                }


                <div class="form-group">
                    <button type="submit" class="btn btn-red">update Headline</button>
                </div>
            </form>
        </div>
    </div>
</div>


<form action="~/Headlines/RemoveImage" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id"/>
</form>


<script>
    function confirm_remove_image(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Remove this image?',
            buttons: {
                Yes: function () {
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }
    
    function stringlength(headline, summary)
    { 
        var field1 = headline.value;
        var field2 = summary.value;
        // var imageToUpload = document.getElementById("image");
    
        if(field1.length > 50)
        { 
            alert("Headline should be less than 50 characters");
            return false;
        }
        else if(field2.length > 3200)
        { 
            alert("News should be less than 3200 characters");
            return false;
        }
        else
        { 
            return true;
            // if(imageToUpload === true)
            // {
            //     if(typeof (imageToUpload.files) != "undefined")
            //     {
            //         var imageSize = parseFloat(imageToUpload.files[0].size / 1024).toFixed(2);
            //         if(imageSize > 1024){
            //             alert("Image size should be less than 1MB. Currently its "+ imageSize/1024 + "MB");
            //             return false;
            //         }
            //         else{
            //             return true; //passed the size test
            //         }
            //     }
            //     else
            //     {
            //         alert("This browser does not support HTML5.");
            //         return false;
            //     }
            // }
        }
    }
    
    function headlineCharCount(str) 
    {
    	var lng = str.length;
    	document.getElementById("headline_char_count").innerHTML = lng + '/50 characters';
    }
    
    function summaryCharCount(str) 
    {
    	var lng = str.length;
    	document.getElementById("summary_char_count").innerHTML = lng + '/3200 characters';
    }
</script>