﻿@{
    var articles = (List<Admin.Models.MArticle>)ViewBag.articles;
    var guid = Guid.NewGuid().ToString();
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="@guid" class="table tblsm">
                <thead>
                    <tr>
                        <th>ArticleType</th>
                        <th>ArticleTitle</th>
                        <th>ArticleImage</th>
                        <th>Text</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in articles)
                    {
                    <tr>
                        <td title="@item.EArticleTypeNavigation.Type">@item.EArticleTypeNavigation.Type</td>
                        <td title="@item.ArticleTitle">@item.ArticleTitle</td>
                        @if (!string.IsNullOrEmpty(item.ArticleImage))
                        {
                            <td>
                                <img src="~/uploads/@item.ArticleImage" class="article_image_small" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="~/assets/img/place_holder_image.png" class="article_image_small" />
                            </td>
                        }
                        <td title="@item.ArticleBody">@item.ArticleBody</td>
                        <td>
                            <a href="~/Articles/EditArticle/@item.Id" style="color:blue;">
                                Open
                            </a>
                            |
                            <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.PaperId','@item.Id')">
                                Delete
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/Articles/DeleteArticle" method="post" id="f1">
    <input type="hidden" name="article_id" id="article_id" />
    <input type="hidden" name="paper_id" id="paper_id" />
</form>

<script>

    $('#@guid').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(paper_id,article_id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Article?',
            buttons: {
                Yes: function () {
                    $("#paper_id").val(paper_id);
                    $("#article_id").val(article_id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>