﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var article_types = (List<Admin.Models.EArticleType>)ViewBag.article_types;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">

    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/Articles/CreateArticleType" >
                <div class="form-group">
                    <input class="form-control" name="Type"  required/>
                    <small><span style="color:red;">*</span> Article Type</small>
                    <div class="form-group">
                        <button type="submit" class="btn btn-red btn-sm">CREATE Article type</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in article_types)
                    {
                        <tr>
                            <td title="@item.Type">@item.Type</td>
                            <td>
                                <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/Articles/DeleteArticleType" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id"/>
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Article Type?',
            buttons: {
                Yes: function () {
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>