﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //create a new paper
    var paper_id = (int)ViewBag.paper_id;
    var article_types = (List<Admin.Models.EArticleType>)ViewBag.article_types;
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
                <form enctype="multipart/form-data" method="post" action="~/Articles/CreateArticle" style="max-width:80%;margin:auto;">
                    <input type="hidden" value="@paper_id" name="PaperId"/>
                    <div class="form-group">
                        <select class="form-control" name="EArticleType">
                            @foreach (var type in article_types)
                            {
                                <option value="@type.Id">@type.Type</option>
                            }
                        </select>
                        <small><span style="color:red;">*</span> Article Type</small>
                    </div>

                    <div class="form-group">
                        <input type="text" name="ArticleTitle" class="form-control" required />
                        <small><span style="color:red;">*</span> Article Title</small>
                    </div>

                    <div class="form-group">
                        <input type="file" name="_ArticleImage" class="form-control-file" accept="image/*" />
                        <small><span style="color:blue;">*</span> Article Image</small>
                    </div> 
                    
                    <div class="form-group">
                        <textarea name="ArticleBody" class="form-control" required></textarea>
                        <small><span style="color:red;">*</span> Article Body</small>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-red">CREATE Article</button>
                    </div>
                </form>
        </div>
    </div>
</div>

