﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //create a new paper
    var article_types = (List<Admin.Models.EArticleType>)ViewBag.article_types;
    var article = (Admin.Models.MArticle)ViewBag.article;
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="post" action="~/Articles/EditArticle" style="max-width:80%;margin:auto;">
                <input type="hidden" value="@article.Id" name="Id" />
                <div class="form-group">
                    <select class="form-control" name="EArticleType">
                        @foreach (var type in article_types)
                        {
                            <option value="@type.Id" selected="@(type.Id==article.EArticleType)">@type.Type</option>
                        }
                    </select>
                    <small><span style="color:red;">*</span> Article Type</small>
                </div>

                <div class="form-group">
                    <input type="text" name="ArticleTitle" class="form-control" required value="@article.ArticleTitle" />
                    <small><span style="color:red;">*</span> Article Title</small>
                </div>

                <div class="form-group">
                    <table style="width:100%;">
                        <tr>
                            @if (!string.IsNullOrEmpty(article.ArticleImage))
                            {
                                <td>
                                    <img src="~/uploads/@article.ArticleImage" class="article_image_big" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <img src="~/assets/img/place_holder_image.png" class="article_image_big" />
                                </td>
                            }
                            <td>
                                <input type="file" name="_ArticleImage" class="form-control-file" accept="image/*" />
                                <small><span style="color:blue;">*</span> Article Image (Leave blank=no change)</small>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="form-group">
                    <textarea name="ArticleBody" class="form-control" required>@article.ArticleBody</textarea>
                    <small><span style="color:red;">*</span> Article Body</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-red">Update Article</button>
                </div>
            </form>
        </div>
    </div>
</div>

