﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var paper_types = (List<Admin.Models.EPaperType>)ViewBag.paper_types;
    var settings = (Admin.Models.MSettings)ViewBag.settings;
}



<div class="container">


    <div class="row">
        <div class="col-md-12">
            <form action="~/Settings/SetSubscriptionPrices" method="post" style="width:100%;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input value="@settings.SubscriptionDailyPrice.ToString("0.00")" type="number" step="any" min="1" class="form-control" placeholder="0.00" name="daily" required>
                            <small class="form-text text-muted">Daily Subscription Price</small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input value="@settings.SubscriptionWeeklyPrice.ToString("0.00")" type="number" step="any" min="1" class="form-control" placeholder="0.00" name="weekly" required>
                            <small class="form-text text-muted">Weekly Subscription Price</small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input value="@settings.SubscriptionMonthlyPrice.ToString("0.00")" type="number" step="any" min="1" class="form-control" placeholder="0.00" name="monthly" required>
                            <small class="form-text text-muted">Monthly Subscription Price</small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="submit" step="any" min="1" class="form-control btn btn-primary btn-sm" value="submit">
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>


<hr />

<div class="row">
    <div class="col-md-12">
        <h2>PaperTypes</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="#" onclick="$('#new_paper_type_modal').modal('show');return false;" style="color:blue;">
            &nbsp;&nbsp; Create PaperType
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="data">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table id="dt" class="table tblsm">
                        <thead>
                            <tr>
                                <th>Paper Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in paper_types)
                            {
                                <tr>
                                    <td title="@item.PaperType">@item.PaperType</td>
                                    <td>
                                        <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<form action="~/Settings/DeletePaperType" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<div class="modal" tabindex="-1" role="dialog" id="new_paper_type_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create PaperType</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="~/Settings/CreatePaperType" method="post">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="..." name="paper_type" required>
                        <small class="form-text text-muted">Paper Type</small>
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary">
                        Create
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });

    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Paper Type?',
            buttons: {
                Yes: function () {
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>