﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/Settings/CreatePaperType" style="max-width:80%;margin:auto;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Paper Type...">
                    <small class="form-text text-muted">Enter the paper type</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-red">CREATE PAPER TYPE</button>
                </div>
            </form>
        </div>
    </div>
</div>

