﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var paper_type = (Admin.Models.EPaperType)ViewBag.paper_type;
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="post" action="~/BreakingNews/CreateBreakingNews" style="max-width:80%;margin:auto;">
                <div class="form-group">
                    <input type="hidden" name="PaperType" value="@paper_type.Id" />
                    <input type="text" class="form-control" required name="Headline" />
                    <small><span style="color:red;">*</span> BreakingNews</small>
                </div>

                <div class="form-group">
                    <textarea class="form-control" required name="Summary"></textarea>
                    <small><span style="color:red;">*</span> Summary</small>
                </div>

               @* <div class="form-group">
                    <select class="form-control" name="Published">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <small><span style="color:red;">*</span> Published</small>
                </div>*@

                <div class="form-group">
                    <input type="file" class="form-control" name="image" accept="image/*" />
                    <small><span style="color:red;">*</span> Image</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-red">CREATE BreakingNews</button>
                </div>
            </form>
        </div>
    </div>
</div>

